<nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
   <targets async="true">
     <target xsi:type="File" name="logFile" fileName="${basedir}/App_Data/logs/ckfinder.log"
             archiveFileName="${basedir}/App_Data/logs/archives/ckfinder.{#}.log" archiveEvery="Day" archiveNumbering="Rolling" maxArchiveFiles="5" concurrentWrites="true" keepFileOpen="false"
             layout="${level} | ${logger} | ${longdate} | ${message}${onexception: | ${exception:format=ToString,StackTrace:maxInnerExceptionLevel=10}}" />
   </targets>
   <rules>
     <logger name="*" minlevel="Trace" writeTo="logfile" />
   </rules>
 </nlog>